* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #3f3d56
}
.main {
  width: 540px;
  margin: 64px auto;
  text-shadow: 0px 4px 4px #00000040;
}
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}
h1 span {
  color: #ee24ff;
  font-weight: bold;
}
p{
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  }

p strong {
  color: #3f3d56
}
#flutuar{
  color: #828282;
}
.ofertas{
  margin-top: 32px;
}

#footer a{
  color: #3f3d56;
  margin: auto;
  padding-left: 21px;
  padding-right: 21px;
  line-height: 1.4;
  text-decoration: none;
  font-weight: bold;

}



#footer .line {
  width: 568px;
  height: 0;
  margin: 0 auto 16px;
  border: 1px solid #eceff2;
}

#wave{
  position: fixed;
  margin-bottom: -10px;
  width: 100%;
  bottom: 0;
  margin-top: 140px;
}